OPENROUTER_API_KEY=
OPENAI_API_KEY=
MISTRAL_MODEL=mistral/mistral-large-latest
VLM_MODEL=openai/gpt-4o
OPENAI_TEXT_MODEL=gpt-4o
OPENAI_IMAGE_MODEL=dall-e-3
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
TAVILY_API_KEY=
